[submodule "themes/zozo"]
	path = themes/zozo
	url = https://github.com/varkai/hugo-theme-zozo
[submodule "public"]
	path = public
	url = https://github.com/Dream4ever/dream4ever.github.io.git
	branch = main
